$main-bg-color: rgba(0, 0, 0, 0.76);

* {
  margin: 0%;
  padding: 0%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-bg-color;
  font-size: 1vw;
  /* background-image: url("../../public/images/defaut.jpg");
  background-attachment: fixed;
  background-size: contain; */
}
