$main-bg-color: rgb(243, 243, 243);
$main-font-color: rgb(24, 24, 24);

* {
  margin: 0%;
  padding: 0%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-bg-color;
}
