/* @media (max-width: 1114px) {
  .grid-container-landing-page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "main";
    grid-template-rows: auto;
    grid-template-columns: auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }
} */

.landing-page {
  overflow: clip;
  padding: 0;
  background-color: rgb(255, 251, 0);
  height: 100vh;
  width: 100vw;
}
