@media (min-width: 1024px) {
  .grid-container-landing-page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "landing-page-cv-name landing-page-navbar"
      "landing-page-photo landing-page-intro"
      "landing-page-resume landing-page-resume"
      "landing-page-experience landing-page-experience"
      "landing-page-skills landing-page-skills"
      "landing-page-bottom landing-page-bottom";
    grid-template-rows: 6vh 94vh auto auto auto auto;
    grid-template-columns: 50vw 50vw;
    overflow-x: hidden;
  }
  .landing-page-cv-name {
    grid-area: landing-page-cv-name;
    display: flex;
    justify-content: flex-start;
    margin-left: 3vw;
    .MuiTypography-root {
      /* font-family: "Work Sans", sans-serif; */
      font-family: "Raleway", sans-serif;
    }
  }
  .landing-page-navbar {
    grid-area: landing-page-navbar;
    display: flex;
    justify-content: flex-end;
    margin-right: 3vw;
  }
  .landing-page-photo {
    grid-area: landing-page-photo;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 17vh;
    margin-right: 4vw;
    align-items: center; /*for vertically center*/
  }
  .landing-page-intro {
    grid-area: landing-page-intro;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 36vh;
    align-items: flex-end; /*for vertically center*/
    .MuiTypography-root {
      /* font-family: "Work Sans", sans-serif; */
      font-family: "Raleway", sans-serif;
    }
    .MuiAvatar-root {
      font-family: "Raleway", sans-serif;
      font-weight: 600;
    }
  }
  .landing-page-resume {
    grid-area: landing-page-resume;
    display: flex;
    justify-content: center;
    align-items: center; /*for vertically center*/
    margin-top: 15vh;
    .MuiTypography-root {
      font-family: "Raleway", sans-serif;
    }
  }
  .landing-page-experience {
    grid-area: landing-page-experience;
    display: flex;
    justify-content: center;
    align-items: flex-start; /*for vertically center*/
    margin-top: 15vh;
    .MuiTypography-root {
      font-family: "Raleway", sans-serif;
    }
  }
  .landing-page-skills {
    grid-area: landing-page-skills;
    display: flex;
    justify-content: center;
    align-items: flex-start; /*for vertically center*/
    margin-top: 15vh;
    .MuiTypography-root {
      font-family: "Raleway", sans-serif;
    }
  }
  .landing-page-bottom {
    grid-area: landing-page-bottom;
    display: flex;
    justify-content: center;
    align-items: flex-start; /*for vertically center*/
    margin-top: 15vh;
    margin-bottom: 3vh;
    .MuiTypography-root {
      font-family: "Raleway", sans-serif;
    }
  }
}

@media (max-width: 1023px) {
  .grid-container-landing-page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "landing-page-cv-name"
      "landing-page-navbar"
      "landing-page-photo"
      "landing-page-intro"
      "landing-page-resume"
      "landing-page-experience"
      "landing-page-skills"
      "landing-page-bottom";
    grid-template-rows: 5vh auto auto auto auto auto auto;
    grid-template-columns: 100vw;
    overflow-x: hidden;
  }
  .landing-page-cv-name {
    grid-area: landing-page-cv-name;
    display: flex;
    justify-content: center;
  }
  .landing-page-navbar {
    grid-area: landing-page-navbar;
    display: flex;
    justify-content: center;
  }
  .landing-page-photo {
    grid-area: landing-page-photo;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
    align-items: center; /*for vertically center*/
  }
  .landing-page-intro {
    grid-area: landing-page-intro;
    display: flex;
    justify-content: center;
    align-items: center; /*for vertically center*/
    margin-bottom: 5vh;
    .MuiTypography-root {
      font-family: "Work Sans", sans-serif;
    }
  }
  .landing-page-resume {
    grid-area: landing-page-resume;
    display: flex;
    justify-content: center;
    align-items: center; /*for vertically center*/
    margin-bottom: 5vh;
    .MuiTypography-root {
      font-family: "Work Sans", sans-serif;
    }
  }
  .landing-page-experience {
    grid-area: landing-page-experience;
    display: flex;
    justify-content: center;
    align-items: flex-start; /*for vertically center*/
    margin-bottom: 5vh;
    .MuiTypography-root {
      font-family: "Work Sans", sans-serif;
    }
  }
  .landing-page-skills {
    grid-area: landing-page-skills;
    display: flex;
    justify-content: center;
    align-items: flex-start; /*for vertically center*/
    margin-bottom: 5vh;
    .MuiTypography-root {
      font-family: "Work Sans", sans-serif;
    }
  }
  .landing-page-bottom {
    grid-area: landing-page-bottom;
    display: flex;
    justify-content: center;
    align-items: flex-start; /*for vertically center*/
  }
}
